<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Analyser</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
</head>
<body>
    <div class="header">
        <h1>TEXT ANALYSER</h1>
    </div>
    <div class="hero">
        <div class="container">
            <form method='post' action="">
                <textarea name="para" id="para" cols="90" rows="30"></textarea><br><br>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>