<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
</head>
<body>
    <div class="container">
        <div class="container">
            <h3>Text: {{ text }}</h3>
            <h4>Words: {{ words }}</h4>
            <h4>Characters: {{ characters }}</h4>
            <h4>Sentences: {{ sentences }}</h4>
            <h4>Frequency_char: {{ frequency_char }}</h4>
            <h4>Frequency_word: {{ frequency_word }}</h4>
        </div>
    </div>

    <div class="container">
        <div class="container">
            <a href="/">
                <form action="/">
                  <input class="btn" type="button" value="HOME" />
                </form>
              </a>
        </div>
    </div>

</body>
</html>